*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}
/* css för Navbarens utseende */
.navbar-icon{
width: 3rem ;
height: 3rem;
position: fixed;
top: 5rem;
right: 5rem;
z-index: 200;
display: flex;
flex-direction: column;
justify-content: space-evenly;
cursor: pointer;
transition:right 0.7s;
}
.change .navbar-icon{
    right: 33rem;
}

.linje{
width: 100%;
height: 0.2rem;
background-color:orange;
box-shadow:0 0.1rem, 0.2rem rgba(0,0,0,0.2);

}

.change .linje-1{
    transform: rotate(45deg)
    translate(0.3rem, 0.8rem);
}
.change .linje-2{
    opacity: 0;
    visibility: hidden;
}
.change .linje-3{
    transform: rotate(-45deg)
    translate(0.3rem,-0.8rem);
}
/* slut på navbar */

/* css för backgrunden och texten*/
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;

}

.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,
    1);

    overflow: hidden;

}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation-name: scale;
    animation-duration: 8s;
}
@keyframes scale {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


.txt h1:nth-child(1){
    position: absolute;
    top: 20%;
    left: 30%;
    font-family:'karantina',serif;
    font-size: 8rem;
    font-weight: 300;
    color: white;
    width: 100%;
    line-height: 10rem;
    letter-spacing: 1.5rem;
    text-shadow: 0 0.3rem, 0.5rem rgba(0,0,0,0.2);
    opacity: 0;
    animation: flytta-upp-texten 3s forwards;
   
}

.txt h1:nth-child(2){
    position: absolute;
    top: 40%;
    left: 40%;
    font-family:'karantina',serif;
    font-size: 8rem;
    font-weight: 300;
    color: white;
    width: 100%;
    line-height: 4rem;
    letter-spacing: 1.5rem;
    text-shadow: 0 0.3rem, 0.5rem rgba(0,0,0,0.4);
    opacity: 0;
    animation: flytta-upp-texten 5s forwards;
    

}

@keyframes flytta-upp-texten {
0%{
    transform: translateY(40rem) rotatey(-20deg);
}
100% {
    transform: translateY(0)
    rotate(0);
    opacity: 1;
}
}
 .sidebar{
     width: 40rem;
     height: 100vh;
     position: fixed;
     top: 0;
     right: -40rem;
     background-color: black;
     transition: right 0.7s;
 }
 
 .change .sidebar{
     right: 0%;
 }
 .menu{
     position: absolute;
     top:40%;
     left: 50%;
     transform: translate(-50%,-50%);
 }

 .menu-link{
     font-family:'karantina';
     font-size: 6rem;
     color:#555;
     position: relative;
 }

.menu-link::before{
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(218, 160, 53);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition:width 0.6s;
}
.menu-link:hover::before{
width: 100%;
}


/* Css för Innehållet */

.innehåll h1{
    color: white;
    display:flex ;
    justify-content: center;
    align-content: center;
    font-size: 7rem;
    font-family: 'karantina';
    display: flex;
    
    
   background-color: rgba(0,0,0,
       1);
}

.innehåll{
 background-image: linear-gradient(158deg, rgba(84, 84, 84, 0.03) 0%, rgba(84, 84, 84, 0.03) 20%,rgba(219, 219, 219, 0.03) 20%, rgba(219, 219, 219, 0.03) 40%,rgba(54, 54, 54, 0.03) 40%, rgba(54, 54, 54, 0.03) 60%,rgba(99, 99, 99, 0.03) 60%, rgba(99, 99, 99, 0.03) 80%,rgba(92, 92, 92, 0.03) 80%, rgba(92, 92, 92, 0.03) 100%),linear-gradient(45deg, rgba(221, 221, 221, 0.02) 0%, rgba(221, 221, 221, 0.02) 14.286%,rgba(8, 8, 8, 0.02) 14.286%, rgba(8, 8, 8, 0.02) 28.572%,rgba(52, 52, 52, 0.02) 28.572%, rgba(52, 52, 52, 0.02) 42.858%,rgba(234, 234, 234, 0.02) 42.858%, rgba(234, 234, 234, 0.02) 57.144%,rgba(81, 81, 81, 0.02) 57.144%, rgba(81, 81, 81, 0.02) 71.42999999999999%,rgba(239, 239, 239, 0.02) 71.43%, rgba(239, 239, 239, 0.02) 85.71600000000001%,rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),linear-gradient(109deg, rgba(33, 33, 33, 0.03) 0%, rgba(33, 33, 33, 0.03) 12.5%,rgba(147, 147, 147, 0.03) 12.5%, rgba(147, 147, 147, 0.03) 25%,rgba(131, 131, 131, 0.03) 25%, rgba(131, 131, 131, 0.03) 37.5%,rgba(151, 151, 151, 0.03) 37.5%, rgba(151, 151, 151, 0.03) 50%,rgba(211, 211, 211, 0.03) 50%, rgba(211, 211, 211, 0.03) 62.5%,rgba(39, 39, 39, 0.03) 62.5%, rgba(39, 39, 39, 0.03) 75%,rgba(55, 55, 55, 0.03) 75%, rgba(55, 55, 55, 0.03) 87.5%,rgba(82, 82, 82, 0.03) 87.5%, rgba(82, 82, 82, 0.03) 100%),linear-gradient(348deg, rgba(42, 42, 42, 0.02) 0%, rgba(42, 42, 42, 0.02) 20%,rgba(8, 8, 8, 0.02) 20%, rgba(8, 8, 8, 0.02) 40%,rgba(242, 242, 242, 0.02) 40%, rgba(242, 242, 242, 0.02) 60%,rgba(42, 42, 42, 0.02) 60%, rgba(42, 42, 42, 0.02) 80%,rgba(80, 80, 80, 0.02) 80%, rgba(80, 80, 80, 0.02) 100%),linear-gradient(120deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(67, 67, 67, 0.03) 14.286%, rgba(67, 67, 67, 0.03) 28.572%,rgba(134, 134, 134, 0.03) 28.572%, rgba(134, 134, 134, 0.03) 42.858%,rgba(19, 19, 19, 0.03) 42.858%, rgba(19, 19, 19, 0.03) 57.144%,rgba(101, 101, 101, 0.03) 57.144%, rgba(101, 101, 101, 0.03) 71.42999999999999%,rgba(205, 205, 205, 0.03) 71.43%, rgba(205, 205, 205, 0.03) 85.71600000000001%,rgba(53, 53, 53, 0.03) 85.716%, rgba(53, 53, 53, 0.03) 100.002%),linear-gradient(45deg, rgba(214, 214, 214, 0.03) 0%, rgba(214, 214, 214, 0.03) 16.667%,rgba(255, 255, 255, 0.03) 16.667%, rgba(255, 255, 255, 0.03) 33.334%,rgba(250, 250, 250, 0.03) 33.334%, rgba(250, 250, 250, 0.03) 50.001000000000005%,rgba(231, 231, 231, 0.03) 50.001%, rgba(231, 231, 231, 0.03) 66.668%,rgba(241, 241, 241, 0.03) 66.668%, rgba(241, 241, 241, 0.03) 83.33500000000001%,rgba(31, 31, 31, 0.03) 83.335%, rgba(31, 31, 31, 0.03) 100.002%),linear-gradient(59deg, rgba(224, 224, 224, 0.03) 0%, rgba(224, 224, 224, 0.03) 12.5%,rgba(97, 97, 97, 0.03) 12.5%, rgba(97, 97, 97, 0.03) 25%,rgba(143, 143, 143, 0.03) 25%, rgba(143, 143, 143, 0.03) 37.5%,rgba(110, 110, 110, 0.03) 37.5%, rgba(110, 110, 110, 0.03) 50%,rgba(34, 34, 34, 0.03) 50%, rgba(34, 34, 34, 0.03) 62.5%,rgba(155, 155, 155, 0.03) 62.5%, rgba(155, 155, 155, 0.03) 75%,rgba(249, 249, 249, 0.03) 75%, rgba(249, 249, 249, 0.03) 87.5%,rgba(179, 179, 179, 0.03) 87.5%, rgba(179, 179, 179, 0.03) 100%),linear-gradient(241deg, rgba(58, 58, 58, 0.02) 0%, rgba(58, 58, 58, 0.02) 25%,rgba(124, 124, 124, 0.02) 25%, rgba(124, 124, 124, 0.02) 50%,rgba(254, 254, 254, 0.02) 50%, rgba(254, 254, 254, 0.02) 75%,rgba(52, 52, 52, 0.02) 75%, rgba(52, 52, 52, 0.02) 100%),linear-gradient(90deg, #ffffff,#ffffff);
}
.bild2{
    border-radius: 20%;
    margin-top: 2rem;
    filter:drop-shadow(60px 20px 2.25rem rgb(43, 41, 41));
    padding-left: 2rem;
}
.bild3{
    border-radius: 20%;
    filter:drop-shadow(-60px -20px 2.25rem rgb(43, 41, 41));
    padding-right: 2rem;
    float: right;
    margin-top: 20rem;
    
}
.bild4{
    border-radius: 20%;
    filter:drop-shadow(60px 20px 2.25rem rgb(43, 41, 41));
    padding-left: 2rem;
    margin-top: 20rem;
}
.innehåll p{
    /* padding-left: 60%; */
    font-size: 3rem;
    width:70%;
    font-family: 'PT Sans';
    color: black;
} 

/* ------ SEKTIONER -------- */

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
}




.left p{
   
    gap: 8rem;
    width: 60%;
    margin-top: 27rem;
    margin-bottom: 20rem;
    margin-left: 2rem;
    
}





@media all and (max-width: 75rem) {
    .txt> h1:nth-child(1) {
        left: 28%;
        color: orange;
        font-size: 6rem;
    } }

@media all and (max-width: 75rem) {
    .txt> h1:nth-child(2) {
        left: 38%;
        color: orange;
        font-size: 6rem;
    } }


@media all and (max-width: 65rem) {
    .txt> h1:nth-child(1) {
        left: 22%;
        color: blue;
        font-size: 6rem;
    } }

@media all and (max-width: 65rem) {
    .txt> h1:nth-child(2) {
        left: 34%;
        color: blue;
        font-size: 6rem;
    } }

    @media all and (max-width: 50rem) {
        .txt> h1:nth-child(1) {
            left: 15%;
            color: red;
            font-size: 5rem;
        } }
    
    @media all and (max-width: 50rem) {
        .txt> h1:nth-child(2) {
            left: 30%;
            color:red;
            font-size: 5rem;
        } }

        @media all and (max-width: 40rem) {
            .txt> h1:nth-child(1) {
                left: 15%;
                color: yellow;
                font-size: 3rem;
            } }
        
        @media all and (max-width: 40rem) {
            .txt> h1:nth-child(2) {
                left: 30%;
                color:yellow;
                font-size: 4rem;
            } }

            @media all and (max-width:32rem) {
                .txt> h1:nth-child(1) {
                    left: 6%;
                    color: blueviolet;
                    font-size: 4rem;
                } }
            
            @media all and (max-width:32rem) {
                .txt> h1:nth-child(2) {
                    left: 29.2%;
                    color:blueviolet;
                    font-size: 4rem;
                    top: 39.2%;
                } }

.innehåll h1 + p  {
border:red solid 1px;

}