*{
    margin: 0;
    padding: 0;
}


/*Grid container innehåll*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0fr 0fr 0fr;
  grid-template-rows: 100vh 0fr 0fr 0fr;
  grid-template-areas:
    "header header header header"
  }

  /*Rubrik*/

  .header { 
      grid-area: header; 
      width: 100%;
      background-image: url('bilder/bg.jpg');
      background-position:center;
      background-size: cover;
      padding-right:2.5%;
      

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  }

  .header h1
 {
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: center;

}

  .header>h1:first-of-type{
    font-size: 5rem;
    color: white;
    font-family: 'Train One', cursive;
    
  }
  .header>h1:nth-child(3){
    font-size:6.5rem;
    color: white;
    font-family: 'Train One', cursive;
    
  }
  .header>p{
    font-size: 40px;
    justify-self: center;
    align-self: center;

  }
  .header>p>a{
    /* boll */
    display: flex;
    text-decoration:none;
    transition: 0.3s;
    display: block;
    width: 100%;
    
  }
  .header>p>a:hover{
    transition: 0.3s;
    transform: scale(1.5) rotate(25deg);

  }

.header>h1{
  animation-name: färger;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes färger{
  0%   {color:red; left:200px; top:200px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:orange; left:200px; top:200px;}
  75%  {color:purple; left:0px; top:200px;}
  100% {color:black; left:0px; top:0px;}
}


@media screen and (max-width: 700px) {
  .header > h1:first-of-type, .header > h1:nth-child(3){
    font-size: 3rem;
    outline: 5px solid green
  }
}

@media screen and (max-width: 500px) {
  .header > h1:first-of-type, .header > h1:nth-child(3){
    font-size: 2rem;
    outline: 5px solid red
  }
}

  /*lista*/


  
  